<h3> GENETIC ALGORITHM PARAMETERS </h3>
<div *ngIf="geneticAlgorithm">
  <div>
    <label>Population Size: </label>
    <input [(ngModel)]="geneticAlgorithm.populationSize" placeholder="populationSize"/>
  </div>
  <div>
    <label>Number of Generations: </label>
    <input [(ngModel)]="geneticAlgorithm.numGenerations" placeholder="numGenerations"/>
  </div>
  <div>
    <label>Prob. of Crossover:  </label>
    <input [(ngModel)]="geneticAlgorithm.probCrossover" placeholder="probCrossover"/>
  </div>
  <div>
    <label>Prob. of Mutation: </label>
    <input [(ngModel)]="geneticAlgorithm.probMutation" placeholder="probMutation"/>
  </div>
</div>

